- name: Install essential packages
  become: true
  community.general.pacman:
    name:
      - fastfetch
      - btop
      - kitty
      - xorg-xrandr
      - firefox
      - rofi
      - inetutils
      - pulseaudio
      - fd
      - wireguard-tools
      - less
