- name: Install Packages
  become: true
  ansible.builtin.dnf:
    name:
      - make
      - pip
      - npm
      - cargo
      - neovim
- name: Create npm-global folder
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.npm-global"
    state: directory
- name: Install LunarVim
  environment:
    LV_BRANCH: 'release-1.3/neovim-0.9'
  ansible.builtin.shell:
    cmd: bash <(curl -s https://raw.githubusercontent.com/LunarVim/LunarVim/release-1.3/neovim-0.9/utils/installer/install.sh)
