- name: Install essential packages
  become: true
  community.general.pacman:
    name:
      - zsh

- name: Download oh-my-zsh installer
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: "{{ ansible_env.HOME }}/.ohmyzsh_installer.sh"

- name: Run oh-my-zsh installer
  ansible.builtin.shell: "sh {{ ansible_env.HOME }}/.ohmyzsh_installer.sh"
  args:
    creates: "{{ ansible_env.HOME }}/.oh-my-zsh/"
  notify:
    - Ensure .zshrc is valid

- name: Pull zsh-autosuggestions
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"


- name: Pull zsh-syntax-highlighting
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-syntax-highlighting
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"

- name: Pull zsh-autocomplete
  ansible.builtin.git:
    repo: https://github.com/marlonrichert/zsh-autocomplete
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autocomplete"

- name: Pull powerlevel10k
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/themes/powerlevel10k"
