- name: Install Packages
  become: true
  ansible.builtin.dnf:
     name:
      - cmake
      - make
      - gcc
      - gcc-c++
      - lua
      - lua-libs
      - lua-devel
      - lua-ldoc
      - lua-lgi
      - ImageMagick
      - cairo-devel
      - dbus-devel
      - gdk-pixbuf2-devel
      - glib2-devel
      - libX11-devel 
      - libxcb-devel 
      - libxdg-basedir-devel 
      - libxkbcommon-devel 
      - libxkbcommon-x11-devel 
      - rubygem-asciidoctor 
      - startup-notification-devel 
      - xcb-util-cursor-devel 
      - xcb-util-devel 
      - xcb-util-keysyms-devel 
      - xcb-util-wm-devel 
      - xcb-util-xrm-devel 
      - xmlto 
      - xorg-x11-proto-devel 
      - gdk-pixbuf2 
      - gdk-pixbuf2-modules 
      - glib2 
      - rpm-build
      - autoconf 
      - automake 
      - cairo-devel 
      - fontconfig 
      - libev-devel 
      - libjpeg-turbo-devel 
      - libXinerama 
      - libxkbcommon-devel 
      - libxkbcommon-x11-devel 
      - libXrandr 
      - pam-devel 
      - pkgconf 
      - xcb-util-image-devel 
      - xcb-util-xrm-devel
      - xset

- name: Clone Awesome
  ansible.builtin.git:
    repo: https://github.com/awesomeWM/awesome.git
    dest: "{{ ansible_env.HOME }}/awesome"

- name: make Awesome
  make:
    chdir: "/home/qlass/awesome"

- name: make install Awesome
  become: true
  make:
    chdir: "/home/qlass/awesome"
    target: install


- name: Clone i3lock-color
  ansible.builtin.git:
    repo: https://github.com/Raymo111/i3lock-color.git
    dest: "{{ ansible_env.HOME }}/i3lock-color"

- name: Install i3lock-color
  ansible.builtin.shell:
    cmd: "{{ ansible_env.HOME }}/i3lock-color/install-i3lock-color.sh"
    creates: "/usr/bin/i3lock"

- name: Install betterlockscreen
  ansible.builtin.shell:
    cmd: wget https://raw.githubusercontent.com/betterlockscreen/betterlockscreen/main/install.sh -O - -q | sudo bash -s system

    # creates: "{{ ansible_env.home }}/.pyenv"
 
